:root {
    --slidev-code-line-height: 17px;
    --slidev-code-font-size: 16px;
}

h1 {
    background-color: #c4262e;
    background-image: linear-gradient(45deg, #ef564c 10%, #c4262e 20%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;

    padding-top: 20px
}

h2 {
    background-color: #c4262e;
    background-image: linear-gradient(45deg, #ef564c 10%, #c4262e 20%);
    background-size: 100%;

    margin-top: 20px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;

    padding-top: 20px
}

/* Přidat do souboru `styles.css` */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 4.6rem;
     line-height: 1.1;
}

a, a:visited, a:active, a:link {
    text-decoration: none;
    color: #c4262e;
}

a:hover, a:focus {
    text-decoration: none;
    color: #ef564c;
}

ol {
    color: #c4262e;
}

li {
    margin-bottom: 1rem;
}

.action {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
}


.container {
  flex: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eaeaea;
  padding: 1rem 0;
    color: #ef564c;
}


.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
